<div class="container">
    <div class="row py-5">
        <div class="col text-center">
            <img src="img/weni.jpg" alt="Weni Ariska" class="img-thumbnail rounded-circle" width="100">
            <h1>Weni Ariska</h1>
            <p class="lead">Software Developer | Data Scientist</p>
        </div>
    </div>
</div>